
<!DOCTYPE html>

<meta charset="UTF-8">

<html lang="en">
    <style>
        .info {
            margin-right: 7%;
            margin-left: 7%;
            
          }

          .head {
            margin-right: 5%;
            margin-left: 7%;
            padding: 10px;
          }
    </style>
    <body >
        <h5 class = "head">แหล่งที่มาของปู</h5>
        <p class = "info">
            
                การดำเนินการในปัจจุบัน จะอาศัยพันธุ์ปูทะเลจากธรรมชาติจากการรวบรวมของชาวประมงในพื้นที่จังหวัดตรังและสตูลมาใช้ในการเลี้ยง ทำให้ไม่สามารถกำหนดหรือเลือกชนิดปูทะเลที่ได้ 
            
        </p>
        <h5 class = "head">ชนิดปูที่มีการเลี้ยง</h5>
        <p class = "info">
                แต่ละครั้งที่รับปูจากชาวประมงจะได้ปูดำเป็นชนิดหลัก โดยมีปูขาวหรือปูทองหลางและปูม่วงปะปนมาในบางครั้ง 

        </p>
    </body>
</html>