<!DOCTYPE html>
<html lang="en">
    <ul class="nav nav-pills w-100">
        <li class="nav-link">
            <a href="/data" class="nav-link active">Package tag</a>
        </li>
        <!-- <li class="nav-link ">
            <a href="/data/farmtag" class="nav-link active">Farm tag</a>
        </li>
        <li class="nav-link ">
            <a href="/data/listcrab" class="nav-link active">Crablist</a>
        </li> -->
        <li class="nav-link ">
            <a href="/data/listpack" class="nav-link active">Packagelist</a>
        </li>
        
        <li class="nav-link ">
            <!-- <a href="/data/listorder" class="nav-link active">Orderlist</a> -->
        </li>
        <li class="nav-link">
            <a href="/data/add" class="nav-link active">Add Tag</a>
        </li>
        <li class="nav-link">
            <a href="/users" class="nav-link active">Users</a>
        </li>
    </ul>
</html>