<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create account</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="container" style="margin-top: 20px;">

    <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert"><%= messages.error %></div>
    <% } %>
    

    <div class="card">
        <div class="card-header">
            <ul class="nav nav-pills w-100">
                <li class="nav-link">Create account</li>
                <li class="nav-link ml-auto">
                    
                    <a href="/data/accounts" class="btn btn-info">Back</a>
                </li> 
            </ul>
        </div>
        <div class="card-body">
            <form action="/data/createaccount" method="post">
                <div class="form-group">
                    <label>username: </label>
                    <input type="text" style="width: 300px;" class="form-control" name="username" id="username" required>
                    <br>
                    <label>password: </label>
                    <input type="password" style="width: 300px;" class="form-control" name="password" id="password" required>
                    <br>
                    <label>confirm password: </label>
                    <input type="password" style="width: 300px;" class="form-control" name="cpassword" id="cpassword" required>
                    <br>
                    <label>select role: </label>
                    <select class="form-control" style="width: 300px;" name="prio" id="prio" required>
                        <option value="0">Keeper</option>
                        <option value="1">Admin</option>

                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Create">
                </div>
            </form>
        </div>
    </div>

</body>
</html>